# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage directory used by tools like istanbul
coverage
*.lcov

# IDE's
.idea
.vscode
.kdev4

# Unit test / coverage reports
junit.xml
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# -----------------------------
# Git is unnessesary for build
.git/
.gitattributes
.gitignore
.github/
.gitlab-ci.yml

# Tests and RND
tests/